<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Rosé</title>
    <link rel="stylesheet" href="/css/rose.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/rose.js"></script>
    <link rel="icon" type="image/x-icon" href="/img/favicons/favicon.ico">
    <meta charset="UTF-8">
    <meta name="description" content="Project that revives Nintendo TVii and Demae-can for Wii U">
    <meta name="keywords"
      content="tvii, nintendotvii, project, projectrose, projectrosè, projectrosé, vino, acr, demae, demaecan, wiiu">
    <meta name="author" content="Project Rosé">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Project Rosé" />
    <meta property="og:description" content="Project that revives Nintendo TVii and Demae-can for Wii U" />
    <meta property="og:image" content="http://projectrose.cafe/img/Project_Rose_No_Shadow.png" />
    <meta property="og:url" content="http://projectrose.cafe" />
    <meta name="theme-color" content="#ff72b6">
    <title>Project Rosé</title>
  </head>

<body>

    <div class="wrapper">
        <div class="content">
            <img class="logo" src="/img/Project_Rose_No_Shadow.png">

            <div class="exp">
                <p>Project Rosé is a 3rd party project that aims to revive the <b>Nintendo TVii</b>
                    app for Wii U, and later on, revive <b>Demae-can</b> as a new app for the Wii U.</p>
                <p class="select">Select below what you wish to do:</p>
                <!--<a href="/patch">Patch the Nintendo TVii applet</a>-->
                <a href="/tvii/linkSocials">Link socials to Nintendo TVii</a>
                <a href="https://discord.gg/7C83t5KaWx">Join our Discord server!</a>
                <a href="https://github.com/Project-Rose" target="_blank">Check out our <b>GitHub!</b></a>
            </div>
            <div class="devs">
                <p>Some of the people that are currently working on Project Rosé!</p>
                <a href="javascript:void(0)">
                    <div>
                        <img src="/img/mii1.png">
                    </div>

                    <p>Skye</p>
                    <span>Owner, System Administrator, Backend Developer</span>
                </a>
                <a href="javascript:void(0)">
                    <div>
                        <img src="/img/mii2.png">
                    </div>

                    <p>bartholomew lachance</p>
                    <span>Patch Developer</span>
                </a>
                <a href="javascript:void(0)">
                    <div>
                        <img src="/img/mii3.png">
                    </div>

                    <p>Miguel</p>
                    <span>System Administrator, Backend Developer</span>
                </a>
                <a href="javascript:void(0)">
                    <div>
                        <img src="/img/mii4.png">
                    </div>

                    <p>Cooper</p>
                    <span>Patch Developer, Backend Developer</span>
                </a>
                <a href="javascript:void(0)">
                    <div>
                        <img src="/img/mii5.png">
                    </div>

                    <p>Swirlz</p>
                    <span>Acting Owner, Patch Developer</span>
                </a>
                <a href="javascript:void(0)">
                    <div>
                        <img src="/img/mii6.png">
                    </div>

                    <p>David Joaq</p>
                    <span>Frontend & Backend Developer</span>
                </a>
                <a href="javascript:void(0)">
                    <div>
                        <img src="/img/mii7.png">
                    </div>

                    <p>Emily</p>
                    <span>Asset Designer</span>
                </a>
            </div>
        </div>
    </div>

</body>

</html>
